#wrap {
    width: 100%;
    font-family: 'Open Sans', 'Noto Sans KR', 'Nanum Gothic', sans-serif;
}

/* animation */
.scroll {
    opacity: 0;
}

.slide_right {
    -webkit-animation: slideRight .8s cubic-bezier(.77, 0, .175, 1) both;
    -moz-animation: slideRight .8s cubic-bezier(.77, 0, .175, 1) both;
    -ms-animation: slideRight .8s cubic-bezier(.77, 0, .175, 1) both;
    -o-animation: slideRight .8s cubic-bezier(.77, 0, .175, 1) both;
    animation: slideRight .8s cubic-bezier(.77, 0, .175, 1) both;
}

.slide_left {
    -webkit-animation: slideLeft .8s cubic-bezier(.77, 0, .175, 1) both;
    -moz-animation: slideLeft .8s cubic-bezier(.77, 0, .175, 1) both;
    -ms-animation: slideLeft .8s cubic-bezier(.77, 0, .175, 1) both;
    -o-animation: slideLeft .8s cubic-bezier(.77, 0, .175, 1) both;
    animation: slideLeft .8s cubic-bezier(.77, 0, .175, 1) both;
}

.slide_up {
    -webkit-animation: slideUp .8s cubic-bezier(.77, 0, .175, 1) both;
    -moz-animation: slideUp .8s cubic-bezier(.77, 0, .175, 1) both;
    -ms-animation: slideUp .8s cubic-bezier(.77, 0, .175, 1) both;
    -o-animation: slideUp .8s cubic-bezier(.77, 0, .175, 1) both;
    animation: slideUp .8s cubic-bezier(.77, 0, .175, 1) both;
}

@keyframes slideRight {
    0% {
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slideLeft {
    0% {
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
    }

    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(80px);
        -moz-transform: translateY(80px);
        -ms-transform: translateY(80px);
        -o-transform: translateY(80px);
        transform: translateY(80px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

/* header */
#header_sticky {
    position: absolute;
    top: 45%;
    z-index: 6;
}

#header_sticky .menu_container {
    width: 230px;
    height: 100px;
    background: #666;
}

.sticky_header #header_sticky,
.sticky_header .login_wrap {
    position: fixed;
    top: 0;
    margin-top: 0px;
}

.openMenu1,.openMenu2 {
    overflow-y: hidden;
}

.openMenu1 #header_sticky,
.openMenu1 .login_wrap,.openMenu2 #header_sticky,
.openMenu2 .login_wrap {
    position: fixed;
    top: 45%;
}
.openMenu1 .login_wrap,.openMenu2 #header_sticky{
    display: none;
}

.openMenu1 #header_sticky #overlay01,.openMenu2 #overlay02 {
    opacity: 1;
    visibility: visible;

}

#header_sticky .menu_wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    display: block;
    -webkit-transition: background .3s;
    transition: background .3s;
    background: #333;
    z-index: 6;
}

#header_sticky .button_container {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    height: 20px;
    width: 29px;
    cursor: pointer;
    z-index: 100;
    transition: opacity .25s ease;
}

.openMenu1 #header_sticky .button_container .top {
    transform: translateY(7px) translateX(0) rotate(45deg);
}

.openMenu1 #header_sticky .button_container .middle {
    opacity: 0;
}

.openMenu1 #header_sticky .button_container .bottom {
    transform: translateY(-7px) translateX(0) rotate(-45deg);
}

.openMenu1 #header_sticky .button_container span {
    background: #fff;
}

#header_sticky .button_container span {
    border: none;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer;
    color: #fff;
    background: #fff;
}

#header_sticky .button_container span:nth-of-type(2) {
    top: 7px;
}

#header_sticky .button_container span:nth-of-type(3) {
    top: 14px;
}

#header_sticky .logo_wrap {
    display: block;
    float: left;
    width: 130px;
    padding: 25px 0;
    background: #fff;
    text-align: center;
    margin-left: 100px;
    height: 100px;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    transition: all .6s cubic-bezier(.165, .84, .44, 1);
    position: relative;
    z-index: 6;
}

.openMenu1 #header_sticky .logo_wrap,.openMenu2 #header_sticky .logo_wrap {
    background: #333;
}

#header_sticky .logo_wrap img {
    height: 50px;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.openMenu1 #header_sticky .logo_wrap img.dark,.openMenu2 #header_sticky .logo_wrap img.dark {
    opacity: 0;
    visibility: hidden;
}

.openMenu1 #header_sticky .logo_wrap img.white,.openMenu2 #header_sticky .logo_wrap img.white {
    opacity: 1;
    visibility: visible;
}

#header_sticky .logo_wrap img.white {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.login_wrap {
    background: #333;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 45%;
    right: 0;
    z-index: 6;
}

.login_wrap > a {
    display: block;
    text-align: center;
    padding: 33px 0;
}

.login_wrap > a > i {
    font-size: 30px;
    color: #fff;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .6s cubic-bezier(.645, .045, .355, 1);
    transition: all .6s cubic-bezier(.645, .045, .355, 1);
    background: #333;
    text-align: center;

}

#headerWrap .overlay .main_menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 40%;
    max-width: 750px;
}

#headerWrap .overlay .main_menu > li {
    flex-grow: 1;
    font-family: 'Playfair Display', serif;
    line-height: 1.8;
    font-weight: 300;
    font-size: 35px;
    position: relative;
}

#headerWrap .overlay .main_menu > li:after {
    content: '';
    width: 0;
    position: absolute;
    height: 2px;
    background: #fff;
    top: 73px;
    left: 50%;
    transform: translateX(-50%);
    transition: all .3s ease;
}

#headerWrap .overlay .main_menu > li:hover:after {
    width: 30%;
}

#headerWrap .overlay ul li a {
    color: #fff;
}

#headerWrap .overlay .main_menu .sub_menu {
    opacity: 0;
    -webkit-transition: all ease .4s;
    -moz-transition: all ease .4s;
    -ms-transition: all ease .4s;
    -o-transition: all ease .4s;
    transition: all ease .4s;
    margin-top: 30px;
}

#headerWrap .overlay .main_menu .sub_menu li {
    font-size: 20px;
}

#headerWrap .overlay .main_menu .sub_menu.on {
    opacity: 1;
}

/* main container */
#mainWrap {
    width: 100%;
    height: 100%;
    position: relative;
    min-width: 950px;
}

section {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

section .text_box h3 {
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    line-height: 1;
    margin-bottom: 30px;
    font-weight: 300;
}

section .text_box p {
        font-size: 12px;
    letter-spacing: -0.5px;
    font-weight: 400;
    line-height: 2;
}

section .valence_btn {
    padding: 10px 40px;
    border: 1px solid #fff;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    transition: .3s;
    display: inline-block;
    font-weight: 600;
    color:#fff;
}

section .valence_btn:after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background: #fff;
    height: 100%;
    left: -10%;
    -webkit-transform: skewX(15deg);
    transform: skewX(15deg);
    z-index: -1;
}

section .valence_btn:hover {
    color: #324156;
}

section .valence_btn:hover:after {
    left: -10%;
    width: 120%;
    -webkit-transform: skewX(15deg);
    transform: skewX(15deg);
    z-index: -1;
}

/* swiper */
.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

}

.swiper-container.section_swiper .swiper-slide {
    width: 90%;
}

.section_swiper .swiper-slide-prev,
.section_swiper .swiper-slide-next {
    -webkit-opacity: 0.3;
    -moz-opacity: 0.3;
    opacity: 0.2;
}

/* section01 */
#section01{overflow:hidden;}
#section01 .main_video {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: #f4f4f4;
}
#section01 .main_video .bg{
    position: relative;
	width: 100%;
    height: 100%;
    background: url(../img/valence_video_poster.jpg) no-repeat center center;
    background-size: cover;
}
#section01 .main_video #player {
       position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100vh;
    width: 400%;
}

#section01 .main_video  .uncontrolled {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 9;
    top: 0;
    left: 0;
}

#section01 .scroll_down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 10;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
    padding-top: 70px;
}

#section01 .scroll_down span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb 1.5s infinite;
    animation: sdb 1.5s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

@keyframes sdb {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

#section01 .scroll_down:hover {
    opacity: .5;
}

/* section02 */
#section02,
#section04 {
    height: 100%;
    background: #f8f8f8;
    padding: 60px 0 100px;
}

.section .section_tit {
    margin-bottom: 50px;
}

.section .section_tit h2 {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0 auto;
    text-transform: uppercase;
    position: relative;
}

.section .section_tit h2:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    top: 46px;
    left: 50%;
    transform: translateX(-50%);
    background: #333;

}

#section02 .swiper-slide a {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 70px;
}


#section02 .swiper-slide.swiper-slide-active .stripe {
    width: 200px;
}

#section02 .swiper-slide.swiper-slide-active .stripe.right {
    width: 100px;
}

#section02 .swiper-slide a .img_box {
    width: 100%;
    z-index: 1;
    opacity: .8;
}

#section02 .swiper-slide a .img_box img {
    width: 100%;
}

#section02 .swiper-slide a .text_box {
    position: relative;
    z-index: 3;
        margin-bottom: 50px;
}

#section02 .swiper-slide a .text_box h3 {
    color: #333;
    opacity: 0;
    -webkit-transform: translateY(40px);
    -ms-transform: translateY(40px);
    transform: translateY(40px);
    -webkit-transition: all .5s cubic-bezier(.77, 0, .175, 1) 0.3s;
    transition: all .5s cubic-bezier(.77, 0, .175, 1) 0.3s;
}

#section02 .swiper-slide.swiper-slide-active a .text_box h3 {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

#section02 .swiper-slide a .text_box p {
    color: #333;
    opacity: 0;
    -webkit-transform: translateY(40px);
    -ms-transform: translateY(40px);
    transform: translateY(40px);
    -webkit-transition: all .5s cubic-bezier(.77, 0, .175, 1) 0.5s;
    transition: all .5s cubic-bezier(.77, 0, .175, 1) 0.5s;
}

#section02 .swiper-slide.swiper-slide-active a .text_box p {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;

}

/* section03 */
.about_contents {
    width: 100%;
    height: 100%;
    background: #efefef;
}

.about_contents > div {
    position: relative;
    background: #324156;
}

.about_contents .img_wrap {
    width:100%;
        font-size: 0;
}
.about_contents .img_wrap img{
    width:100%;
}

.about_contents .text_box {
    position: relative;
    width: 100%;
    color:#fff;
    padding: 70px 10px;
}

.about_contents .text_box h3 {
    font-size: 30px;
    position: relative;
    color:#fff;
}

.about_contents .text_box h3:after {
    content: '';
    width: 40%;
    height: 1px;
    background: #fff;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.about_contents .text_box p {
    margin: 60px auto 30px;
}

/* section04 */
.collection_contents {
    margin: 0 auto;
    position: relative;
    width: 90%;
    max-width: 1200px;
    margin: 50px auto 0;
}

.collection_contents .collection_list {
        margin-top: 70px;
    width: 100%;
}

.collection_contents .collection_list .item {
    position: relative;
    margin-bottom:10px;
}

.collection_contents .collection_list .item > div {
    height: 230px;
}

.collection_list .item .col {
    
    position: relative;
    z-index: 2;
    background:#fff;
    animation-fill-mode: forwards;
}

.collection_list .item .col_sl {
    transform: translateX(110%);
}

.collection_list .item .col_sr {
    transform: translateX(-110%);
}

.collection_list .item .col_tit {
    background: #324156;
    position: relative;
    z-index: 5;
}

.collection_list .item .col_tit:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: #324156 transparent transparent;
    border-width: 10px;
    margin-left: -10px;
}
.collection_list .item .col_txt{
    background: #404c61;
    color: #f2f2f2;
    z-index: 3;
}
.collection_list .item .col_txt:before{
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: #404c61 transparent transparent;
    border-width: 10px;
    margin-left: -10px;
}
.collection_list .item .col .table {
    width: 100%;
    height: 100%;
    display: table;
}

.collection_list .item .col .table .table_cell {
    display: table-cell;
    vertical-align: middle;
}

.collection_list .item .col .table .table_cell .num {
    font-size: 12px;
    color: #fff;
    letter-spacing: .4em;
    text-transform: uppercase;
    font-weight: 700;
}

.collection_list .item .col .table .table_cell h3 {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    line-height: normal;
    color: #fff;
}

.collection_list .item .col .table .table_cell p {
    padding: 0 20px;
    font-size: 16px;
    line-height: 25px;
}

.collection_list .item .col_hover {
    display: block;
    width: 50%;
    height: 100%;
    background: #fff;
    position: relative;
    top: 0;
    -webkit-transition: .6s cubic-bezier(.165, .84, .44, 1);
    transition: .6s cubic-bezier(.165, .84, .44, 1);
    z-index: 1;
}

.collection_list .item.right .col_hover {
    left: -33.333%;
}

.collection_list .item.left .col_hover {
    right: -33.333%;
}

.collection_list .item.right:hover .col_hover {
    left: 0;
}

.collection_list .item.left:hover .col_hover {
    right: 0;
}

/* footer */
#footerWrap{
    width:100%;
    position:relative;
}
#footerWrap .copyright{
    background-color:#222;
    color:#ddd;
    padding:8px 0;
    font-size:12px;
    text-align: center;
    font-weight:400;
    letter-spacing: 0.2em;
}
.footer{
    background-color: #333;
    color: #fff;
}
.footer .footer_inner{
    margin:0 auto;
    padding: 0 20px;
}
.footer_inner .contents_wrap{
    width:100%;
    height:100%;
    position:relative;

}
.footer_inner .contents_wrap .content_box{
        padding-top: 20px;

}
.footer_inner .contents_wrap .content_box .footer_logo{
    margin-bottom:20px;
}
.footer_inner .contents_wrap .content_box .footer_logo a{
    height: 60px;
    display: block;
}
.footer_inner .contents_wrap .content_box .footer_logo a img{
    height: 100%;
}
.footer_inner .contents_wrap .content_box .sns_logo li{
    display: inline-block;
}
.footer_inner .contents_wrap .content_box .sns_logo li:first-child{
    margin-right:10px;
}
.footer_inner .contents_wrap .content_box .sns_logo li a{
    display:block;
    color:#fff;
}
.footer_inner .contents_wrap .content_box .sns_logo li a svg{
    width: 24px;
    height: 24px;
}
.footer_sns{
	    padding: 20px 0 40px;
}
.footer_inner .contents_wrap .mobile_nav > li{
    border-bottom: 1px solid #d1d1d1;
}
.footer_inner .contents_wrap .mobile_nav > li .mobile_nav_item{
    position: relative;
    display: table;
    width: 100%;
}
.footer_inner .contents_wrap .mobile_nav > li .mobile_nav_item a, .footer_inner .contents_wrap .mobile_nav > li > a{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 3px;
    line-height: 1.5;
    font-weight: 300;
}
.footer_inner .contents_wrap .mobile_nav > li .nav_arrow{
    display: table-cell;
    vertical-align: middle;
    width: 1%;
}
.footer_inner .contents_wrap .mobile_nav > li .nav_arrow .nav_arrow_icon{
    padding: 20px 30px;
    color: #666;
    position: relative;
    background: none;
    border: none;
    display: inline-block;
    outline-style: none;
}
.footer_inner .contents_wrap .mobile_nav > li .nav_arrow .nav_arrow_icon span{
    display: block;
    position: absolute;
        right: 10px;
    top: 50%;
    width: 12px;
    height: 12px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.footer_inner .contents_wrap .mobile_nav > li .nav_arrow .nav_arrow_icon span .icon{
    display: block;
    width: 12px;
    height: 12px;
    transition: all 0.1s ease-in;
}
.footer_inner .contents_wrap .mobile_nav > li .mobile_nav_sub .mobile_nav_sublist{
    margin-bottom: 20px;
}
.footer_inner .contents_wrap .mobile_nav > li .mobile_nav_sub .mobile_nav_sublist > li{
    padding: 2px 5px;
}
.footer_inner .contents_wrap .mobile_nav > li .mobile_nav_sub .mobile_nav_sublist > li > a, .footer_inner .contents_wrap .mobile_nav > li .mobile_nav_sub .mobile_nav_sublist > li > p{
    color: #fff;
    font-size: 11px;
    font-weight: 300;
    letter-spacing: 0.05em;
    line-height: 1.5;
}
.footer_inner .contents_wrap .mobile_nav > li .mobile_nav_sub .mobile_nav_sublist > li > p > a{
	    color: #ddd;
    font-weight:600;
}
.footer_inner .contents_wrap .mobile_nav > li .mobile_nav_sub .mobile_nav_sublist > li > a span{
	font-weight:600;
}

.footer_inner .contents_wrap .mobile_nav > li .nav_arrow .nav_arrow_icon span.click_rotate{
        -webkit-transform: rotate(180deg) translateY(50%);
	transform: rotate(180deg) translateY(50%);
}
